<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>

      <ion-menu-button color="primary" menu="primerMenu"> </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Inicio</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <img
          src="https://images.vexels.com/media/users/3/223204/isolated/preview/a603755020e70576e1f4a08b012835d4-dise-ntilde-o-plano-del-icono-de-inicio-by-vexels.png"
        />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/main.png" />
        <h2>Bienvenido</h2>
        <p>
           <b>Convoca Sport</b> te da la bienvenida a su aplicación móvil
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
